@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Lab1484.Pages.DB
@using System.IO
@using Lab1484.Pages.DataClasses

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab1484</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lab1484.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-styles.css" asp-append-version="true" /> <!-- Custom CSS file -->

    <style>
        body {
        background-color: #F8F9FA;
        }

        .nav-item .nav-link.active {
        background-color: #333333;
        color: #B599CE;
        border-radius: 100px;
        }

      

  


    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="YOUR DESCRIPTION HERE">
    <meta name="author" content="YOUR NAME HERE">
    <title>Test</title>

    <!-- LOAD BOOTSTRAP CSS - DO NOT DELETE -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- END LOADING BOOTSTRAP CSS -->
    <!-- Custom styles -->
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4ccc3672e0.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <link href="style.css" rel="stylesheet">

    @*<header>*@
    @{
        string currentUser = Context.Session.GetString("username");
        string currentPath = HttpContextAccessor.HttpContext.Request.Path;
        string currentUserID = Context.Session.GetString("userID");
		int retrievedUserID = 0;
        if (string.IsNullOrEmpty(currentUserID))
		{
			retrievedUserID = 0;
		}
		else
		{
            retrievedUserID = Int32.Parse(currentUserID);

		}
    }
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
             <div class="container-fluid">
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                     @*Check to see if the user is logged in
                     @if (string.IsNullOrEmpty(currentUser))
                     {
                         <a class="navbar-brand" asp-area="" asp-page="/Index">JMU Care</a>
                         <a asp-page="/Login" class="btn btn-primary position-relative">Login</a>
                         <a class="btn btn-dark position-relative" asp-area="" asp-page="/AccountSignUp">Create Account</a>
                     }

                     @*else
                     {

                     <a class="navbar-brand" asp-area="" asp-page="/Dashboard">JMU Care</a>
                     <div class="dropdown">
                         <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                             @currentUser
                             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                 !
                                 <span class="visually-hidden">unread messages</span>
                             </span>
                         </button>
                         <ul class="dropdown-menu dropdown-menu-dark">
                             <li><a class="dropdown-item active" asp-page="/Messages">Messages</a></li>
                             <li><a class="dropdown-item" asp-page="/Logout">Log out</a></li>
                         </ul>
                     </div>


                     }
             </div>
         </nav>
      </header>*@

    <main>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                @if (!string.IsNullOrEmpty(currentUser))
                {
                    <!-- Sidebar -->
                    <div class="sidebar-col col-auto col-md-3 col-xl-2 inline-flex flex-column align-items-start px-sm-2 px-0 mt-2">
                        <div class="d-flex flex-column align-items-center vh-100 align-items-sm-start px-4 pt-3 border-end border-light-subtle">
                            <img class="logo align-self-stretch" src="~/lib/NewFolder/JMU Care-purple.png" alt="jmu care logo">
                            

                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                <li class="nav-item">
                                    <a asp-page="/Dashboard" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/Dashboard", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                        <i class="fa-solid fa-border-all"></i>
                                        <span class="ms-1 d-none d-sm-inline">Home/Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/GrantsAndProjects" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/GrantsAndProjects", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                        <i class="fa-solid fa-file"></i>
                                        <span class="ms-1 d-none d-sm-inline">Grants and Projects</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Tasks" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/Tasks", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                        <i class="fa-solid fa-list-check"></i>
                                        <span class="ms-1 d-none d-sm-inline">Tasks</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/AllUsers" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/AllUsers", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                        <i class="fa-solid fa-users"></i>
                                        <span class="ms-1 d-none d-sm-inline">All Users</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/UpdatePermission" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/UpdatePermission", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                        <i class="fa-solid fa-user-gear"></i>
                                        <span class="ms-1 d-none d-sm-inline">Permission Update</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Messages" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/Messages", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                        <i class="fa-solid fa-bell"></i>
                                        <span class="ms-1 d-none d-sm-inline">Messages</span>
                                    </a>
								</li>
								<li class="nav-item">
									<a asp-page="/ReportSubmission" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/ReportSubmission", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
										<i class="fa-solid fa-box-archive"></i>
										<span class="ms-1 d-none d-sm-inline">Reports</span>
									</a>
								</li>
                                <li class="nav-item">
                                    <a asp-page="/Publishes" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/Publishes", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                        <i class="fa-solid fa-book-open"></i>
                                        <span class="ms-1 d-none d-sm-inline">Journals & Publishing</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Archive" class="nav-link link-body-emphasis px-0 align-middle @(string.Equals(currentPath, "/Archive", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                        <i class="fa-solid fa-file-alt"></i>
                                        <span class="ms-1 d-none d-sm-inline">Grant Archive</span>
                                    </a>
                                </li>
                                <div>
                                    <hr>
                                </div>
                                <li class="nav-item">
                                    <a asp-page="/Settings" class="nav-link link-body-emphasis px-0 align-middle">
                                        <i class="fa-solid fa-gear"></i>
                                        <span class="ms-1 d-none d-sm-inline">Settings</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link link-body-emphasis px-0 align-middle">
                                        <i class="fa-solid fa-circle-info"></i>
                                        <span class="ms-1 d-none d-sm-inline">Support</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="dropup pb-4">
                                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    
                                    @{
                                        var CurrentUser = (User?)null;
                                        string? ProfileImagePath = "/images/default.png";
                                        string? currentUserName = "";

                                        string? currentUserIdStr = Context.Session.GetString("userID");


                                        if (int.TryParse(currentUserIdStr, out int currentUserId))
                                        {
                                            CurrentUser = DBClass.GetUserInfoById(currentUserId);
                                            

                                            if (!string.IsNullOrEmpty(CurrentUser?.ProfileImageFileName))
                                            {
                                                string filePath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "images", CurrentUser.ProfileImageFileName);
                                                if (System.IO.File.Exists(filePath))
                                                {
                                                    ProfileImagePath = $"/images/{CurrentUser.ProfileImageFileName}";
                                                }
                                            }
                                        }
                                    }

                                    <img src="@ProfileImagePath" alt="username" width="30" height="30" class="rounded-circle" />
                                    <span class="d-none d-sm-inline mx-2">@currentUser</span>

                                   
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                    <li><a class="dropdown-item" asp-page="/Logout">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }

                <div class="col py-3">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary">© 2025 JMU Care, Inc</p>
        </footer>
    </main>

    <style>
           
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
