@page
@model Lab1484.Pages.DashBoardModel


@{
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="YOUR DESCRIPTION HERE">
    <meta name="author" content="YOUR NAME HERE">
    <title>Test</title>

    <!-- LOAD BOOTSTRAP CSS - DO NOT DELETE -->
    <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="preconnect" href=https://fonts.googleapis.com>
    <link rel="preconnect" href=https://fonts.gstatic.com crossorigin>
    <link href=https://fonts.googleapis.com/css2?family =Bebas+Neue&family =Open+Sans:ital,wght@0,300..800;1,300..800&display =swap rel="stylesheet">

    <!-- Scripts -->
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src=https://kit.fontawesome.com/4ccc3672e0.js crossorigin="anonymous"></script>
    <script src="/js/script.js" asp-append-version="true"></script>
    <script src=https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js></script>
   <script src=https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FullCalendar CSS and JS -->
    <link href=https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css rel="stylesheet" />
    <script src=https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js></script>

    <style>
        /* Container settings */
        <style >
        #calendar {
            --fc-border-color: #4B0082;
            --fc-daygrid-event-dot-width: 10px;
            overflow-x: hidden;
            padding-right: 10px;
        }

        .fc-toolbar-title {
            color: #4B0082 !important;
        }

        .fc-daygrid-day-number {
            color: #4B0082 !important;
            font-weight: 600;
            z-index: 2;
            position: relative;
        }

        .fc-col-header-cell-cushion {
            color: #4B0082 !important;
            font-weight: bold;
        }

        .fc-scrollgrid,
        .fc-scrollgrid td,
        .fc-scrollgrid th {
            border-color: '#CBB677' !important;
        }

        .fc .fc-daygrid-day {
            background-color: #f5f0fa;
            min-width: 14.28%;
        }

        .fc-daygrid-event {
            white-space: normal !important;
            word-wrap: break-word;
            overflow: visible !important;
            padding: 2px 4px;
        }

            .fc-daygrid-event .fc-event-title {
                display: block;
                overflow: visible;
                white-space: normal;
                line-height: 1.2;
            }
    </style>


</head>

<body>

   
                    <h1>Home</h1>
                    <div class="row">

                        <!--donut chart column-->
                        <div class="col-5">
                            <canvas id="grantsChart"></canvas>
                        </div> <!--close donut chart column-->
                        <!--calendar column-->

                        <div class="col-4 border-light-subtle rounded p-3">
                            <h4></h4>
                            <div id="calendar"></div>
                        </div> <!--close calendar column-->
                        <!--grants-->

                        <div class="col-12">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                                <h2>All Grants</h2>
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <form class="d-flex" method="get" asp-page="/Dashboard" role="search">
                                        <input class="form-control me-2 rounded-pill" type="search" name="SearchQuery" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-secondary me-2 rounded-pill" type="submit">Search</button>
                                    </form>
                                    <button class="btn btn-secondary me-2 rounded-pill" type="submit" name="SearchQuery" value="">Clear</button>
                                    <button type="button" class="btn btn-secondary me-2 rounded-pill">
                                        <i class="fa-solid fa-filter"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#creategrantModal">
                                        Create
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                    @*<a href="/GrantCreation" class="btn btn-primary rounded-pill">
                                        Create
                                        <i class="fa-solid fa-plus"></i>
                                    </a>*@

                                    <!--create grant modal -->
                                    <div class="modal fade" id="creategrantModal" tabindex="-1" aria-labelledby="creategrantModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="creategrantModalLabel">Create New Grant</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" asp-page-handler="InsertGrant" class="form-floating">
                                                        <div class="row mb-4">
                                                            <h6>Grant Information</h6>
                                                            <div class="col">
                                                                <div class="form-floating">
                                                                    <input asp-for="newGrant.grantName" type="text" class="form-control" id="floatingName" placeholder="Grant Name">
                                                                    <label for="floatingName">Grant Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-floating">
                                                                    <input asp-for="newGrant.dueDate" type="date" class="form-control" id="floatingDate" placeholder="Due Date">
                                                                    <label for="floatingDate">Due Date</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-floating mb-4">
                                                            <input asp-for="newGrant.businessName" type="text" class="form-control" id="floatingOrganization" placeholder="Funding Organization">
                                                            <label for="floatingOrganization">Funding Organization</label>
                                                        </div>
                                                        <div class="row mb-4">
                                                            <div class="col-sm-6">
                                                                <div class="form-floating">
                                                                    <select asp-for="newGrant.FacultyLeadID" class="form-select" id="floatingAdmin" aria-label="Principal Investigator">
                                                                        @foreach (var admin in Model.AdminList)
                                                                        {
                                                                            <option value="@admin.userID"> @admin.firstName @admin.lastName </option>
                                                                        });
                                                                    </select>
                                                                    <label for="floatingAdmin">Principal Investigator</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-floating">
                                                                    <select asp-for="newGrant.BusinessPartnerID" class="form-select" id="floatingPartner" aria-label="External Partner">
                                                                        @foreach (var partner in Model.PartnerList)
                                                                        {
                                                                            <option value="@partner.userID"> @partner.firstName @partner.lastName </option>
                                                                        });
                                                                    </select>
                                                                    <label for="floatingPartner">External Partner</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-4">
                                                            <div class="col-sm-6">
                                                                <div class="form-floating">
                                                                    <input asp-for="newGrant.amount" type="number" step="0.01" class="form-control" id="floatingAmount" aria-label="Grant Amount" />
                                                                    <label for="floatingAmount">Grant Amount</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-floating">
                                                                    <select asp-for="newGrant.category" class="form-select" id="floatingCategory" aria-label="Grant Category">
                                                                        <option value="Federal">Federal</option>
                                                                        <option value="State">State</option>
                                                                        <option value="Foundation">Foundation</option>
                                                                        <option value="Other">Other</option>
                                                                    </select>
                                                                    <label for="floatingCategory">Grant Category</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-floating">
                                                                <select asp-for="newGrant.grantStatus" class="form-select" id="floatingStatus" aria-label="Grant Status">
                                                                    <option value="Potential">Potential</option>
                                                                    <option value="Funded">Funded</option>
                                                                    <option value="Active">Active</option>
                                                                    <option value="Rejected">Rejected</option>
                                                                    <option value="Archived">Archived</option>
                                                                </select>
                                                                <label for="floatingStatus">Grant Status</label>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-primary">Add Grant</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div> <!--close modal content-->
                                        </div> <!--close modal dialog-->
                                    </div> <!--close modal-->
                                </div> <!-- Close toolbar -->
                            </div>
                        </div> <!--close grant column-->
                        <!--grant table-->
                        <div class="table-responsive table-bordered rounded small">
                            <table id="grantTable" class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Grant Name</th>
                                       <th>Principal Investigator</th>
                                        <th>Amount</th>
                                        <th>Due date</th>
                                        <th>Status</th>
                                        <th>Funding Organization</th>
                                        <th>Category</th>
                                        <th><i class="fa-solid fa-edit"></i> Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var prod in Model.GrantList)
                                    {
                                        var statusClass = prod.grantStatus?.ToLower() switch
                                        {
                                            "archived" => "badge bg-info text-dark",
                                            "active" => "badge bg-primary",
                                            "potential" => "badge bg-warning text-dark",
                                            "funded" => "badge bg-success",
                                            "rejected" => "badge bg-danger",
                                            _ => "badge bg-secondary"
                                        };

                                      <tr>
                                            <td>@prod.grantName</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="ms-3">
                                                        <p class="fw-bold mb-1">@prod.facultyName</p>
                                                        <p class="text-muted mb-0">@prod.facultyEmail</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@prod.amount.ToString("C")</td>
                                            <td>@prod.dueDate.ToShortDateString()</td>
                                            <td><span class="@statusClass">@prod.grantStatus</span></td>
                                            <td>@prod.businessName</td>
                                            <td>@prod.category</td>
                                            <td>
                                                <a asp-page="/UpdateGrant" class="btn btn-link btn-rounded btn-sm fw-bold">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                           </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div> <!--close table div-->
                    </div> <!--close grants col-->

                </div> <!--close main content row-->
           
      

    </main>


    <!-- FullCalendar initialization script -->
    <
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            height: 500,
            eventDisplay: 'block', 
            eventDidMount: function (info) {
                info.el.setAttribute('title', info.event.title);
                info.el.style.whiteSpace = "normal";
                info.el.style.overflow = "visible";
            },
            events: [
                @foreach (var grant in Model.GrantList)
                {
                    <text>{
                        title: "@grant.grantName ",
                        start: "@grant.dueDate.ToString("yyyy-MM-dd")",
                        extendedProps: {
                            type: "Grant",
                            amount: "@grant.amount.ToString("C")",
                            dueDate: "@grant.dueDate.ToShortDateString()",
                            category: "@grant.category",
                            status: "@grant.grantStatus"
                        },
                        color: "#4B0082"
                    },</text>
                }

                @foreach (var project in Model.ProjectList)
                {
                    if (project.DateDue != DateTime.MinValue)
                    {
                        <text>{
                            title: "@project.ProjectName ",
                            start: "@project.DateDue.ToString("yyyy-MM-dd")",
                            extendedProps: {
                                type: "Project",
                                dueDate: "@project.DateDue.ToShortDateString()",
                                status: "@project.ProjectStatus",
                            },
                            color: "#800080"
                        },</text>
                    }
                }

                @foreach (var task in Model.TaskList)
                {
                    if (task.dueDate.HasValue)
                    {
                        <text>{
                            title: "@task.taskDescription ",
                            start: "@task.dueDate.Value.ToString("yyyy-MM-dd")",
                            extendedProps: {
                                type: "Task",
                                dueDate: "@task.dueDate.Value.ToShortDateString()",
                                description: "@task.taskDescription",
                                relatedProject: "@task.ProjectName",
                                relatedProjectID: "@task.ProjectID" 
                            },
                            color: "#BA55D3"
                        },</text>
                    }
                }
            ],
            eventClick: function (info) {
                var event = info.event;
                var details = '';

                if (event.extendedProps.type === "Grant" || event.extendedProps.type === "Project") {
                    details = `
                        <b>Type:</b> ${event.extendedProps.type}<br/>
                        <b>Title:</b> ${event.title}<br/>
                        <b>Status:</b> ${event.extendedProps.status}<br/>
                        <b>Due Date:</b> ${event.extendedProps.dueDate}<br/>
                        ${event.extendedProps.amount ? `<b>Amount:</b> ${event.extendedProps.amount}<br/>` : ''}
                        ${event.extendedProps.category ? `<b>Category:</b> ${event.extendedProps.category}<br/>` : ''}
                    `;
                }
                else if (event.extendedProps.type === "Task") {
                    var relatedProjectLink = '';
                    if (event.extendedProps.relatedProject && event.extendedProps.relatedProjectID) {
                        relatedProjectLink = `<b>Related Project:</b> <a href="/UpdateProject?id=${event.extendedProps.relatedProjectID}" class="link-primary">${event.extendedProps.relatedProject}</a><br/>`;
                    }

                    details = `
                        <b>Type:</b> Task<br/>
                        <b>Description:</b> ${event.extendedProps.description}<br/>
                        <b>Due Date:</b> ${event.extendedProps.dueDate}<br/>
                        ${relatedProjectLink}
                    `;
                }

                showCalendarModal(details);
                info.jsEvent.preventDefault(); // prevent browser from following links
            }
        });

        calendar.render();
    });

    function showCalendarModal(content) {
        var modalHtml = `
            <div class="modal fade" id="calendarEventModal" tabindex="-1" aria-labelledby="calendarEventModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="calendarEventModalLabel">Event Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ${content}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        `;

        document.querySelectorAll('#calendarEventModal').forEach(el => el.remove());

        document.body.insertAdjacentHTML('beforeend', modalHtml);

        var modal = new bootstrap.Modal(document.getElementById('calendarEventModal'));
        modal.show();
    }
</script>





</body>
</html>