@page
@model Lab1484.Pages.GrantCreationModel
@{
    <form id="GrantCreation" asp-page="GrantCreation" method="post">
        <h1>Create a Grant</h1>
        <p>Please complete all forms</p>
        @*//Grant Name (textbox)*@
        Grant Name
        <br />
        <input type="text" asp-for="NewGrant.grantName" placeholder="Grant Name" />
        <span asp-validation-for="NewGrant.grantName" class="text-danger"></span>
        <br />
        <br />
        @*//Project Name (textbox)*@
        Funding Organization
        <br />
        <input type="text" asp-for="NewGrant.businessName" placeholder="Business name" />
        <span asp-validation-for="NewGrant.businessName" class="text-danger"></span>
        <br />
        <br />
        @*Faculty Lead drop down (drop down)*@
        Project Admin
        <select asp-for="NewGrant.FacultyLeadID" class="form-select">
            @{
                foreach (var faculty in Model.FacultyList)
                {
                    <option value="@faculty.userID">@faculty.firstName @faculty.lastName</option>
                }
            }
        </select>
        <br />
        @*Shows list of business partners to select the ID for the grant for*@
        Business Partner
        <select asp-for="NewGrant.BusinessPartnerID" class="form-select">
            @{
                foreach (var businessPartner in Model.PartnerList)
                {
                    <option value="@businessPartner.userID">@businessPartner.firstName @businessPartner.lastName</option>
                }
            }
        </select>
        <br />
        @*Grant Cost Number input*@
        Grant Cost
        <br />
        <input type="number" step="0.01" asp-for="NewGrant.amount" min="0" placeholder="Grant Amount" />
        <span asp-validation-for="NewGrant.amount" class="text-danger"></span>
        <br />
        <br />

        @*Grant Category (Drop Down menu)*@
        Grant Category

        <select asp-for="NewGrant.category" class="form-select">
            <option value="Federal">Federal</option>
            <option value="State">State</option>
            <option value="Foundation">Foundation</option>
            <option value="Other">Other</option>
        </select>
        <br />

        @*Grant status Radio Buttons *@
        Grant Status
        <div>
            <input type="radio" asp-for="NewGrant.grantStatus" value="Potential" /> Potential
        </div>
        <div>
            <input type="radio" asp-for="NewGrant.grantStatus" value="Funded" /> Funded
        </div>
        <div>
            <input type="radio" asp-for="NewGrant.grantStatus" value="Active" /> Active
        </div>
        <div>
            <input type="radio" asp-for="NewGrant.grantStatus" value="Rejected" /> Rejected
        </div>
        <div>
            <input type="radio" asp-for="NewGrant.grantStatus" value="Archived" /> Archived
        </div>
        <span asp-validation-for="NewGrant.grantStatus" class="text-danger"></span>
        <br />

        @*//Due Date (textbox (include formatting guidelines))*@
        Due Date
        <br />
        <input type="date" asp-for="NewGrant.dueDate" />
        <span asp-validation-for="NewGrant.dueDate" class="text-danger"></span>
        <br />
        <br />

        <input type="submit" value="Create Grant" />

        @*//Populate Button*@
        @*<button asp-page="GrantCreation" asp-page-handler="PopulateHandler" class="btn btn-danger" formnovalidate>Populate</button>*@

    </form>
}
