@page
@model Lab1484.Pages.ProjectCreationModel
@{
	<form id="ProjectCreation" asp-page="ProjectCreation" method="post">
		<h1>Create a Project</h1>
		<p>Please complete all forms</p>
		@*//Project Name (textbox)*@
		Project Name
		<br />
		<input type="text" asp-for="NewProject.ProjectName" placeholder="Project name" />
		<span asp-validation-for="NewProject.ProjectName" class="text-danger"></span>
		<br />
		<br />
		@*Project Admin (drop down)*@
		Primary Investigator
		<select asp-for="NewProject.ProjectAdminID" class="form-select">
			@{
				foreach (var admin in Model.AdminList) {
					<option value="@admin.userID">@admin.firstName @admin.lastName</option>
				}
			}
		</select>
		<br />
		@*//Project Cost (textbox)*@
		Project Cost
		<br />
		<input type="number" step="0.01" asp-for="NewProject.ProjectCost" min="0" placeholder="Cost of Project" />
		<span asp-validation-for="NewProject.ProjectCost" class="text-danger"></span>
		<br />
		<br />
		@*//Due Date (textbox (include formatting guidelines))*@
		Due Date
		<br />
		<input type="date" asp-for="NewProject.DateDue" />
		<br />
		@*//Assign Employees (radiobuttons or dropdown that allows multiple selections)*@
		<br />
		Assign Employees (hold ctrl to select multiple)
		<select class="form-select" asp-for="EmployeeIDs" multiple>
			@{
				foreach (var employee in Model.EmployeeList)
				{
					<option value="@employee.userID">@employee.firstName @employee.lastName</option>
				}
			}
		</select>
		<br />
		@*//Project Status (radiobuttons)*@
		Project Status
		<div>
			<input type="radio" asp-for="NewProject.ProjectStatus" value="Not Begun" checked /> Incomplete
		</div>
		<div>
			<input type="radio" asp-for="NewProject.ProjectStatus" value="Incomplete" /> In Progress
		</div>
		<div>
			<input type="radio" asp-for="NewProject.ProjectStatus" value="Complete" /> Complete
		</div>
		<br />
		<input type="submit" value="Create Project" />

		@*//Populate Button*@
		<button asp-page="ProjectCreation" asp-page-handler="PopulateHandler" class="btn btn-danger" formnovalidate>Populate</button>
	</form>


	<button onclick="document.getElementById('ProjectCreation').reset();">
		Click here to clear
	</button>

}